.contacts {
  background-color: #ffffff;
  text-align: center;
  padding-top: 45px;
}

.contacts__wrapper {
  text-align: center;
}

.contacts__main-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 0;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 0;
}

.contacts__item {
  text-decoration: none;
  font-style: normal;
  color: $crimson;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 35px;
  cursor: pointer;

  &:hover {
    color: $darkblue;
  }

  &:active {
    color: rgba($darkblue, 0.3);
  }
}


/* Планшет */
@media (min-width: $tablet-width) {
  .contacts__main-title {
    font-size: 40px;
    line-height: 54px;
  }

  .contacts__wrapper {
    display: grid;
    grid-template-areas:
    "A A"
    "B C"
    "D D";
  }

  .contacts__main-title {
    grid-area: A;
  }

  .contacts__phone {
    grid-area: B;
  }

  .contacts__email {
    grid-area: C;
  }

  .contacts__adress {
    grid-area: D;
  }
}

/* Desktop */
@media (min-width: $desktop-width) {
  .contacts__wrapper {
    display: grid;
    grid-template-areas:
    "A A A"
    "B D C";
  }

  .contacts__title {
    margin-bottom: 30px;
  }
}
