// .line {  // центр (убрать)
//   position: absolute;
//   width: 1px;
//   height: 3600px;
//   background-color: red;
//   left: 50%;
//   z-index: 3;
// }

.cover-main {
  position: relative;
  min-height: 462px;
  background-color: #1d2631;
  background-image: url(../img/main/back-wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover-main__title {
  color: #ffffff;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 34px;
}

.cover-main__app {
  background-color: #1d2631;
  padding: 28px 0 38px 0;
}

/* Ссылка "Скачайте приложение" */
.cover-main__app-link {
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid #ffffff;
  margin-bottom: 38px;
  padding: 18px 35px;
  border-radius: 29px;
}

/* OS */
.cover-main__app-list {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

/* Доступно для Iphone... */
.cover-main__app-text {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  margin: 0;
  margin-top: 28px;
}


/* Планшет */
@media (min-width: $tablet-width) {
  .cover-main {
    min-height: 730px;
  }

  .cover-main__conteiner {
    width: 340px;
  }

  .cover-main__title {
    font-size: 40px;
    line-height: 48px;
    width: 240px;
    padding-top: 212px;
    margin: 0 auto;
  }

  .cover-main__phone {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .cover-main__app {
    background: none;
    padding: 0;
  }

  .cover-main__app-wrapper {
    margin: 0;
  }

  .cover-main__app-text {
    font-size: 18px;
  }
}


/* Desktop */
@media (min-width: $desktop-width) {
    .cover-main__title {
    font-size: 50px;
  }

  .cover-main__app-wrapper {
    padding: 0;
  }

  .cover-main__app {
    position: relative;
    left: 130px;
    width: 300px;
  }
}
