.page-wrapper {
  position: relative;
  min-height: 462px;
  background-color: #1d2631;
  background-image: url(../img/main/back-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url(../img/main/back-wallpaper@2x.jpg);
  }
}


/* Планшет */
@media (min-width: $tablet-width) {
  .cover-main {
    min-height: 730px;
    background-image: url(../img/main/back-tablet.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../img/main/back-tablet@2x.jpg);
    }
  }

  .cover-main__conteiner {
    width: 340px;
  }

  .cover-main__title {
    width: 280px;
    font-size: 40px;
    line-height: 48px;
    margin-top: 81px;
  }

  .cover-main__title-catalog {
    font-size: 50px;
    line-height: 68px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

}


/* Desktop */
@media (min-width: $desktop-width) {
  .cover-main {
    min-height: 853px;
    background-image: url(../img/main/back-desktop.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../img/main/back-desktop@2x.jpg);
    }
  }

  .cover-main__title {
    width: 300px;
    font-size: 50px;
    line-height: 68px;
    padding: 0;
    margin-left: 130px;

    &-catalog,
    &-form {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

}
