/* Преимущества */
.features {
  background-color: $lightgrey;
  text-align: center;
  padding-top: 75px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    width: 100%;
    height: 88px;
    background-image: url(../img/price/price-triangle.svg);
    background-size: 100% 25px;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  &::after {
    content: "";
    display: block;
    background-image: url(../img/features/iphone-mobile.png);
    background-size: 157px 277px;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 157px;
    height: 277px;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/features/iphone-mobile@2x.png);
    }
  }
}

.features__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #000000;
}

.features__study {
  display: none;
}

.features__study-title {
  color: #000000;
}


/* Планшет */
@media (min-width: $tablet-width) {
  .features {
    padding-top: 68px;
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding-bottom: 30px;
    row-gap: 18px;


    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/features/iphone-mobile.png);
      background-size: 268px 481px;
      background-position: 0 0;
      background-repeat: no-repeat;
      left: 0;
      bottom: 0;
      width: 268px;
      height: 481px;
      grid-column: 1/2;
      z-index: 1;

      @media (min-resolution: 2dppx) {
        background-image: url(../img/features/iphone-mobile@2x.png);
      }
    }
  }

  .features__item {
    text-align: left;
    grid-column: 2/3;
  }


  .features__text br {
    display: none;
  }

  .features__study {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 63px;
    padding-bottom: 50px;
    background-color: #ffffff;
    justify-content: start;
    text-align: left;
    align-items: center;
    min-height: 330px;

    &::after {
      position: absolute;
      content: "";
      background-image: url(../img/features/timer.svg);
      background-size: 238px 276px;
      background-position: 0 0;
      background-repeat: no-repeat;
      left: 0;
      bottom: 20px;
      width: 238px;
      height: 276px;
      grid-column: 1/2;
    }
  }

  .features__study-information {
    grid-column: 2/3;
  }

  .features__study-title {
    font-size: 30px;
    line-height: 36px;
    width: 170px;
    margin-bottom: 0;
  }

  .features__study-text {
    margin: 10px 0;
  }

  .features__study-link {
    color: $crimson;
  }
}


/* Desktop */
@media (min-width: $desktop-width) {
  .features {
    padding-top: 0;

    &::after {
      background-size: 100% 92px;
    }
  }

  .features__list {
    position: relative;
    z-index: 2;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 10px;

    &::after {
      display: none;
    }
  }

  .features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    width: 310px;
    text-align: center;
    column-gap: 20px;
    grid-column: auto;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .features__item-1,
  .features__item-2,
  .features__item-3 {
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 300px;
      height: 382px;
      margin-top: -40px;
      margin-bottom: 15px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .features__item-1::before {
    background-image: url(../img/features/iphone-1-desktop.png);

    @media (min-resolution: 2dppx) {
      background-image: url(../img/features/iphone-1-desktop@2x.png);
    }
  }

  .features__item-2::before {
    background-image: url(../img/features/iphone-2-desktop.png);

    @media (min-resolution: 2dppx) {
      background-image: url(../img/features/iphone-2-desktop@2x.png);
    }
  }

  .features__item-3::before {
    background-image: url(../img/features/iphone-3-desktop.png);

    @media (min-resolution: 2dppx) {
      background-image: url(../img/features/iphone-3-desktop@2x.png);
    }
  }

  .features__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .features__text {
    font-size: 18px;
    margin-top: 25px;
    line-height: 30px;
    width: 252px;
  }

  .features__study {
    grid-template-columns: 1fr 570px;
    background-color: $lightgrey;
    min-height: 430px;
    padding-top: 88px;

    &::after {
      background-size: 298px 345px;
      width: 298px;
      height: 345px;
      bottom: 45px;
    }
  }

  .features__study-title {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;

    & br {
      display: none;
    }
  }

  .features__study-text {
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;

    & br {
      display: none;
    }
  }

  .features__study-link {
    font-size: 18px;
    line-height: 30px;
  }
}
