.main-information {
  &__wrapper {
    background-color: #ffffff;
    text-align: center;
  }

  &__titles {
    padding: 46px 0 70px 0;
  }

  &__title {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    text-align: center;
    margin: 0;
  }

  &__title:not(:last-child) {
    padding-bottom: 35px;
  }
}

/* Преимущества */
.features {
  background-color: $lightgrey;
  text-align: center;
  padding-top: 60px;

  &__list {
    text-align: center;
  }

  &__item {
    margin-bottom: 45px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  /* Картинка */
  &__image-wrapper {
    position: relative;
  }

  &__img-screen {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
  }
}
