.main-information__wrapper {
  background-color: #ffffff;
  text-align: center;
}

.main-information__titles {
  padding: 46px 0 70px 0;
}

.main-information__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

/* Планшет */
@media (min-width: $tablet-width) {
  .main-information__title {
    font-size: 40px;
    line-height: 54px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
