.slider-reviews {
  position: relative;
  background-color: #ffffff;
  padding: 50px 0;
}

.slider-reviews__author {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.slider-reviews__author-details,
.slider-reviews__quotes {
  display: none;
}

.slider-reviews__quote {
  line-height: 30px;
  text-align: center;
  margin: 0;
}

/* Блок пагинации */
.slider-reviews__dots {
  text-align: center;
}

/* Элемент пагинации */
.slider-reviews__button {
  border: none;
  padding: 0;
  width: 6px;
  height: 6px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba($darkblue, 0.3);

  &:not(:last-child) {
    margin-right: 19px;
  }

  &:hover {
    background-color: rgba($darkblue, 0.6);
  }

  &:active {
    background-color: rgba($darkblue, 0.1);
  }
}

.slider-reviews__button--current {
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid $darkblue;

  &:hover,
  &:active {
    background-color: transparent;
  }
}


/* Планшет */
@media (min-width: $tablet-width) {
  .slider-reviews {
    padding-top: 100px;
  }

  .slider-reviews__item {
    display: flex;
    flex-direction: column;
  }

  .slider-reviews__author-details {
    display: block;
    text-align: center;
    margin: 0;
  }

  .slider-reviews__quote {
    order: -1;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .slider-reviews__quote-text {
    font-size: 18px;
    width: 620px;
  }

  .slider-reviews__quote-text br {
    display: none;
  }

  .slider-reviews__dots {
    margin-top: 35px;
  }
}


/* Desktop */
@media (min-width: $desktop-width) {
  .slider-reviews__wrapper {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      background-image: url(../img/reviews/left-arrow.svg);
      width: 22px;
      height: 41px;
      top: 50%;
      cursor: pointer;
    }

    // Стрелка влево
    &::before {
      left: 0;
    }

    // Стрелка вправо
    &::after {
      right: 0;
      transform: rotate(180deg);
    }
  }

  .slider-reviews__quote-text {
    width: 690px;
    margin: 50px 0;
  }

  .slider-reviews__dots {
    display: none;
  }

  .slider-reviews__quotes {
    display: block;
    order: -1;
    margin: 0 auto;
  }
}
