.slider-reviews {
  position: relative;
  background-color: #ffffff;
  padding: 52px 0 35px 0;
}

.slider-reviews__author {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.slider-reviews__author-details,
.slider-reviews__quotes {
  display: none;
}

.slider-reviews__quote {
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.slider-reviews__quote-text {
  margin-bottom: 30px;
}

/* Блок пагинации */
.slider-reviews__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

/* Элемент пагинации */
.slider-reviews__button {
  border: none;
  padding: 0;
  width: 6px;
  height: 6px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba($darkblue, 0.3);

  &:hover {
    background-color: rgba($darkblue, 0.6);
  }

  &:active {
    background-color: rgba($darkblue, 0.1);
  }

  // Активный элемент пагинации
  &--current {
    padding: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    // transform: scale(2);
    background-color: transparent;
    border: 3px solid $darkblue;

    &:hover,
    &:active {
      background-color: transparent;
    }
  }
}

.slider-reviews__arrows {
  display: none;
}


/* Планшет */
@media (min-width: $tablet-width) {
  .slider-reviews {
    padding-top: 55px;
    padding-bottom: 10px;
  }

  .slider-reviews__item {
    display: flex;
    flex-direction: column;
  }

  .slider-reviews__author {
    letter-spacing: 1.5px;
  }

  .slider-reviews__author-details {
    display: block;
    text-align: center;
    margin: 0;
  }

  .slider-reviews__quote {
    order: -1;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .slider-reviews__quote-text {
    font-size: 18px;
    width: 620px;
  }

  .slider-reviews__quote-text br {
    display: none;
  }

  .slider-reviews__dots {
    margin-top: 40px;
  }
}


/* Desktop */
@media (min-width: $desktop-width) {
  .slider-reviews__arrows {
    display: block;
  }

  // Стрелки
  .slider-reviews__arrow {
    position: absolute;
    background-image: url(../img/reviews/left-arrow.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 41px;
    top: 50%;
    border: none;
    background-color: transparent;
    opacity: 0.3;
    cursor: pointer;

    // Стрелка влево
    &--left {
      left: 130px;
    }

    // Стрелка вправо
    &--right {
      right: 130px;
      transform: rotate(180deg);
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .slider-reviews__quote-text {
    width: 690px;
    margin: 50px 0;
  }

  .slider-reviews__dots {
    display: none;
  }

  .slider-reviews__quotes {
    display: block;
    order: -1;
    margin: 0 auto;
  }
}
