.photo {
  background-color: #ffffff;

  &__title {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }

  &__item-container {
    padding: 25px 10px 25px 17px;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    background-color: $lightgrey;
  }

  &__item-author {
    font-weight: 700;
  }

  &__item-author-time {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
  }

  &__item-like-text {
    color: $crimson;
    text-transform: uppercase;
    font-size: 12px;
  }
}

