.photo {
  background-color: #ffffff;
}

.photo__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.photo__item-container {
  padding: 25px 10px 25px 17px;
}

.photo__list {
  list-style-type: none;
  padding: 0;
}

.photo__item {
  background-color: $lightgrey;
}

.photo__item-author {
  font-weight: 700;
}

.photo__item-author-time {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}

.photo__item-like-text {
  color: $crimson;
  text-transform: uppercase;
  font-size: 12px;
}


/* Планшет */
@media (min-width: $tablet-width) {
  .photo__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, min-max(300px, 1fr));
    min-height: 455px;
    gap: 20px;
  }

  .photo__item:first-child {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .photo__item-comment {
    margin: 0;
  }
}


/* Desktop */
@media (min-width: $desktop-width) {
  .photo__list {
    display: grid;
    min-height: 555px;
    gap: 20px;
  }

  .photo__item:first-child {
    grid-column: 1/4;
  }
}
