.photo {
  position: relative;
  background-color: #ffffff;
}

.photo__title {
  width: 280px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  margin: 0 auto;
  padding: 45px 0 35px 0;
  text-align: center;
}

.photo__item-container {
  padding: 18px 10px 22px 17px;
}

.photo__list {
  list-style-type: none;
  padding: 0;
}

.photo__item-panorama-container {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
}

// Панорама
.photo__item-panorama {
  max-width: 1200px;
}

// Панорама дня
.photo__item-top {
  position: absolute;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: $crimson;
  padding: 5px 20px;
  right: 20px;
}

.photo__item {
  background-color: $lightgrey;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

// Фотографии каталога
.photo__item-photo,
.photo__item-panorama {
  display: block;
  width: 100%;
}

.photo__item-author {
  margin: 0;
  font-weight: 700;
}

.photo__item-author-time {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}

.photo__item-comment {
  margin: 0;
}

// Кнопка like
.photo__item-like-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: 17px;
  column-gap: 18px;
  cursor: pointer;

  // Сердечко
  &::before {
    content: "";
    background-image: url(../img/icons/heart.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 13px 12px;
    width: 13px;
    height: 12px;
    left: 0;
  }
}

.photo__item-like-text {
  color: $crimson;
  text-transform: uppercase;
  font-size: 12px;
}


/* Планшет */
@media (min-width: $tablet-width) {
  .photo__title {
    font-size: 18px;
    width: 450px;
    padding-top: 91px;
  }

  .photo__title br {
    display: none;
  }

  .photo__item-top {
    top: 57px;
  }

  .photo__item-container {
    padding: 23px 30px 27px;
  }

  .photo__item-container--panorama {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 22px 30px;
  }

  .photo__item-like-button {
    justify-content: space-between;

    &--panorama {
      margin-left: auto;
      margin-top: 0;
      order: 0;
    }
  }

  .photo__item-comment--panorama,
  .photo__item-like--panorama {
    order: 1;
  }

  .photo__item-comment--panorama {
    grid-column: 1/-1;
  }

  .photo__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 22px;
    column-gap: 20px;
    margin-top: 43px;
    margin-bottom: 0;
  }

  .photo__panorama {
    grid-column: 1/-1;
  }

  .photo__item:not(:last-child) {
    margin-bottom: 0;
  }

  .photo__item:first-child {
    margin-bottom: 30px;
  }


  .photo__item-comment {
    margin: 0;
    min-height: 48px;
  }

  .photo__item-like-text {
    order: -1;
    margin-left: 0;
  }
}


/* Desktop */
@media (min-width: $desktop-width) {
  .photo__title {
    width: 575px;
    padding-top: 92px;
    padding-bottom: 45px;
  }

  .photo__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 555px;
    column-gap: 20px;
    row-gap: 54px;
  }

  .photo__item:first-child {
    grid-column: 1/4;
    margin-bottom: 0;
  }

  .photo__item-panorama-container {
    margin-left: -130px;
    margin-right: -130px;
  }

  .photo__item-top {
    top: 54px;
    right: 130px;
  }

  .photo__item-container--panorama {
    padding: 22px 30px;
  }

  .photo__item-comment--panorama {
    min-height: 24px;
  }
}
