.upload {
  background-color: $lightgrey;
}

.upload__title-wrapper {
  background-color: #ffffff;
  margin-left: -20px;
  margin-right: -20px;
}

.upload__title {
  margin: 0 auto;
  padding: 30px 0;
  width: 280px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.upload__container {
  background-color: $lightgrey;
  padding-top: 33px;
  padding-bottom: 42px;
}

.upload__photo {
  display: block;
  width: 100%;
}

.upload__filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
  margin: 43px 0 30px 0;
}

// Range
.upload__filter-range {
  position: relative;
  -webkit-appearance: none;
  border: none;
  width: 240px;
  display: block;
  margin: 0 auto;

  // Декоративная отделяющая линия
  &::after {
    content: "";
    position: absolute;
    top: 34px;
    width: 100%;
    height: 1px;
    background-color: rgba($darkblue, 0.1);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid $crimson;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    transform: translateY(-50%);
  }

  &::-webkit-slider-runnable-track {
    height: 2px;
    background: #000000;
    border: none;
  }
}

.upload__filter-item input {
  display: none;
}

.upload__filter-icon {
  color: rgba($darkblue, 0.3);

  &:hover {
    color: rgba($darkblue, 0.5);
  }

  &:active {
    color: $crimson;
  }
}

// Блок кнопок
.upload__button-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 73px;
  row-gap: 13px;
}

.upload__button {
  padding: 15px;
  border: 3px solid;
  border-radius: 30px;
  line-height: 18px;
  font-size: 18px;
  font-weight: 700;
  word-break: break-all;
  width: 280px;
}

/* Запостить */
.upload__button--submit {
  border-color: 3px solid currentColor;
  color: $crimson;

  &:hover {
    color: #ffffff;
    background-color: $crimson;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}

/* Отмена */
.upload__button--reset {
  border-color: 3px solid currentColor;
  color: rgba($darkblue, 0.1);

  &:hover {
    color: rgba($darkblue, 0.3);
  }

  &:active {
    color: rgba(#ffffff, 0.3);
    background-color: rgba($darkblue, 0.3);
  }
}


/* Планшет */
@media (min-width: $tablet-width) {
  .upload {
    background-color: #ffffff;
  }

  .upload__title {
    font-size: 18px;
    width: 422px;
    padding: 65px 0 67px;
  }

  .upload__container {
    display: grid;
    grid-template-areas:
      "A B"
      "A C";
    column-gap: 13px;
    padding-top: 57px;
    padding-bottom: 56px;
  }

  .upload__photo-container {
    grid-area: A;
  }

  .upload__photo {
    width: auto;
    margin: 0;
  }

  .upload__filter {
    grid-area: B;
  }

  .upload__button-list {
    grid-area: C;
    margin-top: auto;
    row-gap: 20px;
  }

  .upload__button {
    width: 260px;
  }

  .upload__filter-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
  }

  .upload__filter-item {
    position: relative;
    display: flex;

    &::after {
      content: "";
      position: absolute;
      top: 55px;
      width: 100%;
      height: 1px;
      background-color: rgba($darkblue, 0.1);
    }
  }

  .upload__filter-item input {
    display: block;
    margin-left: 30px;
    background-color: transparent;
  }

  .upload__filter-icon {
    transform: scale(0.5);
  }

  .upload__filter-range {
    width: 200px;

    &--mob {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}


/* Desktop */
@media (min-width: $desktop-width) {
  .upload__container {
    padding: 55px 60px 55px 80px;
  }

  .upload__title {
    padding: 60px 0 67px 0;
  }

  .upload__photo {
    width: 300px;
  }

  .upload__filter-item {
    column-gap: 47px;

    &::after {
      top: 55px;
      width: 410px;
    }

    &:last-child::after {
      display: none;
    }
  }

  .upload__filter-icon {
    transform: scale(1);
  }

  .upload__filter-item input {
    width: 288px;
    margin-left: 0;
  }

  .upload__button-list {
    flex-direction: row;
    column-gap: 44px;
  }

  .upload__button {
    width: 183px;
  }
}
