.upload {
  background-color: #f2f2f2;
  padding: 40px 0 50px 0;

  &__title {
    margin: 0;
    width: 280px;
    font-size: 14px;
  }

  &__filter-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    list-style-type: none;
    padding: 0;
  }

  &__button-post {
    width: 100%;
    border: 0;
    outline: 3px solid #d22856;
    border-radius: 30px;
    padding: 20px 0;
    color: #d22856;
    font-size: 18px;
    margin-bottom: 12px;
  }

  &__button-cancel {
    width: 100%;
    border: 0;
    outline: 3px solid #283645;
    border-radius: 30px;
    padding: 20px 0;
    color: #283645;
    font-size: 18px;
  }
}
