.modal-err {
  position: fixed;
  margin: 0 auto;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 1px;
  text-align: center;
  width: 320px;
  display: none;
}

.modal-err__content {
  padding: 38px 20px 0;
}

.modal-err__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
}

.modal-err__text {
  color: $darkblue;
  margin: 30px auto 0;
}

.modal-err__wrapper-button {
  background-color: transparent;
  border-radius: 0 0 5px 5px;
  padding: 30px 20px 52px;
}

.modal-err__button {
  background-color: #2AAB6D;
  border: 2px solid #2AAB6D;
  border-radius: 1px;
  width: 280px;
  // min-height: 60px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  padding: 14px;

  &:hover {
    background-color: #1C9B5E;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }

  &:disabled {
    background-color: #E5E5E5;
  }
}


/* Планшет */
@media (min-width: $tablet-width) {
  .modal-err {
    width: 460px;
  }

  .modal-err__content {
    padding: 50px 80px 0;
  }

  .modal-err__title {
    width: 260px;
    font-size: 30px;
    line-height: 40px;
  }

  .modal-err__text {
    font-size: 18px;
    margin-top: 35px;
  }

  .modal-err__button {
    width: 296px;
  }
}


/* Desktop */
@media (min-width: $desktop-width) {
  .modal-err {
    width: 780px;
    min-height: 377px;
  }

  .modal-err__content {
    padding: 40px 40px 0;
  }

  .modal-err__title {
    width: auto;
  }

  .modal-err__text {
    margin: 35px auto 20px;
  }


  .modal-err__wrapper-button {
    background-color: $lightgrey;
    padding: 52px 20px;
    width: 100%;
  }
}
