.form {
  background-color: #ffffff;

  &__title {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }

  &__wrapper {
    background-color: $lightgrey;
  }

  &__user-item {
    padding: 42px 0;
  }

  &__user-label {
    color: $crimson;
    line-height: 30px;
    padding: 0 24px;
    text-transform: uppercase;
  }

  &__user-input {
    width: 100%;
    padding: 23px 20px;
    box-sizing: border-box;
  }

  &__user-input[placeholder] {
    color: $darkblue;
    font-size: 18px;
  }

  /* Список достижений */

  &__user-progress-item {
    font-size: 18px;
    line-height: 30px;
  }

  &__user-progress-item:not(:last-child) {
    margin-bottom: 47px;
  }

  /* Заголовки чек-бокса, радио-кнопок и комментариев */
  &__user-item-title {
    text-transform: uppercase;
    color: $crimson;
    text-align: center;
  }

  /* Список OS */
  &__user-OS-item {
    font-size: 18px;
    line-height: 30px;
  }

  &__user-comment-area {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    line-height: 30px;
  }

  &__button-wrapper {
    background-color: #ffffff;
  }

  &__button {
    width: 100%;
    padding: 23px 10px;
    margin-bottom: 46px;
  }

  &__prompt {
    display: block;
    text-transform: uppercase;
    text-align: center;
  }
}
