.form {
  position: relative;
  background-color: #ffffff;
}

// .form__user {
//   display: grid;
// }

.form__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  padding-top: 54px;
  text-align: center;
}

.form__title span {
  display: none;
}

.form__wrapper {
  background-color: $lightgrey;

  &:nth-child(even) {
    background-color: #ffffff;
  }
}

.form__user-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 29px;
  border: none;
  padding: 44px 0;
}

.form__user-input,
.form__user-comment-area {
  border: 2px solid #E5E5E5;

  &:focus {
    border-color: $crimson;
  }

  &:hover {
    border-color: $darkblue;
  }
}


.form__user-label {
  color: $crimson;
  line-height: 30px;
  text-transform: uppercase;

  &--contact {
    margin-left: 24px;
  }
}

.form__user-input {
  width: 100%;
  padding: 14px 20px;
  margin-top: 7px;
}

.form__user-input[placeholder] {
  color: $darkblue;
  font-size: 18px;
  line-height: 30px;
}

.form__user-progress-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

/* Список достижений (checkbox) */
.form__user-progress-item {
  font-size: 18px;
  line-height: 30px;
}

// Label чекбокса
.form__user-control-label {
  display: inline-flex;
  align-items: center;

  // Квадрат для чекбокса
  &::before {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    width: 35px;
    height: 35px;
    margin-right: 22px;
    background-color: #ffffff;
    border: 2px solid #E5E5E5;
    border-radius: 1px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover::before {
    border-color: $darkblue;
  }

  &:active::before {
    border-color: $crimson;
  }
}

// Галочка при checked
.form__user-control-input:checked+.form__user-control-label::before {
  background-image: url(../img/icons/tick.svg);
  background-repeat: no-repeat;
  background-size: 22px 16px;
}

/* Заголовки чек-бокса, радио-кнопок и комментариев */
.form__user-item-title {
  text-transform: uppercase;
  color: $crimson;
  text-align: center;
  padding-top: 44px;
  word-break: break-all;

  &--contact {
    display: none;
  }
}

.form__user-os-list {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}

/* Пункты os (radio) */
.form__user-os-item {
  font-size: 18px;
  line-height: 30px;
}

.form__user-os-control {
  display: flex;
  align-items: center;
  column-gap: 31px;
}

// Круг для radio
.form__user-os-control-mark {
  display: inline-block;
  position: relative;
  width: 37px;
  height: 37px;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 50%;
  cursor: pointer;

  &:hover::before {
    border-color: $darkblue;
  }

  &:active::before {
    border-color: $crimson;
  }
}

.form__user-os-control-input:checked+.form__user-os-control-mark::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $crimson;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.form__wrapper--comment {
  width: 100%;
}


// Поле для комментария
.form__user-comment-area {
  width: 100%;
  min-height: 200px;
  text-align: center;
  padding: 20px 19px;
  font-size: 18px;
  line-height: 30px;
  resize: none;

  &::placeholder {
    color: $darkblue;
    line-height: 30px;
    font-size: 18px;
  }
}

/* Обертка кнопки "Отправить форму" */
.form__button-wrapper {
  background-color: #ffffff;
}

.form__button--green {
  background-color: #2aab6d;
  font-size: 18px;
  font-weight: 700;
  border: none;
  color: #ffffff;
  text-transform: uppercase;

  &:hover {
    background-color: #1C9B5E;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form__button {
  width: 100%;
  padding: 23px 10px;
  margin-bottom: 46px;
  cursor: pointer;
  word-break: break-all;
}

// Надпись "Обязательные поля"
.form__prompt {
  display: block;
  text-transform: uppercase;
  text-align: center;
  word-break: break-all;

  // Звездочка (*)
  & span {
    color: $crimson;
  }
}

.form__prompt .form__prompt-desktop {
  display: none;
  color: $darkblue;
}


/* Планшет */
@media (min-width: $tablet-width) {
  .cover-main__title-form {
    font-size: 50px;
    width: 620px;
  }

  .form__title {
    padding: 90px 0 20px;
    width: 490px;
    font-size: 18px;
    margin: 0 auto;
  }

  .form__title span {
    display: block;
    font-size: 18px;
  }

  .form__user {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(616px, 1fr));
    row-gap: 23px;
  }

  .form__wrapper {
    background-color: #ffffff;
    margin: 0;
    padding-top: 30px;

    &--name {
      order: 1;
    }

    &--progress {
      order: 4;
    }

    &--contact {
      order: 3;
    }

    &--os {
      order: 2;
    }

    &--comment {
      order: 5;
      padding-bottom: 31px;
    }
  }

  .form__user-item {
    gap: 56px;
    border: 2px solid #E5E5E5;
    border-radius: 1px;
    padding: 27px 58px 53px;

    &--name {
      border: none;
      row-gap: 52px;
      padding: 0;
    }

    &--contact {
      gap: 27px;
      padding-bottom: 27px;
    }

    &--os {
      padding: 37px 59px 55px;
    }

    &--progress {
      padding: 39px 58px 42px;
    }

    &--comment {
      padding-bottom: 47px;
    }
  }

  .form__user-item-title {
    padding: 0 25px;
    line-height: 30px;

    &--contact {
      display: block;
    }
  }

  .form__user-label {
    display: flex;
    align-items: center;
    flex-grow: 1;
    column-gap: 20px;
    padding: 0;
  }

  .form__user-item-input {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    &::after {
      content: "";
      width: 59px;
      height: 59px;
      right: 2px;
      top: 2px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px auto;
    }

    &--tel::after {
      content: "";
      position: absolute;
      background-image: url(../img/icons/phone-icon.svg);
      background-color: #e5e5e5;
    }

    &--email::after {
      content: "";
      position: absolute;
      background-image: url(../img/icons/mail-icon.svg);
      background-color: #e5e5e5;
    }
  }

  .form__user-os-control {
    column-gap: 21px;
  }

  .form__user-progress-list {
    row-gap: 39px;
  }

  .form__user-input {
    margin: 0;
    padding: 14px 20px 15px;
  }

  .form__user-label--contact {
    order: 1;
    margin-left: 16px;
  }

  .form__user-comment-area {
    min-width: 496px;
    min-height: 190px;
    margin: 0 auto;
    padding: 20px 10px;
  }

  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 6;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 41px;
  }

  .form__button {
    width: 296px;
    margin: 0;
  }
}


/* Desktop */
@media (min-width: $desktop-width) {
  .page-header__title-form br {
    display: none;
  }
  .form__user {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 54px 4px;
    align-items: center;
    margin: 0 auto;
  }

  .form__title,
  .form__wrapper,
  .form__button-wrapper {
    grid-column: 1 / -1;
  }

  .form__title {
    width: 765px;

    & br {
      display: none;
    }
  }

  .form__wrapper {
    padding: 0 130px;

    &--name {
      grid-column: 1/2;
      padding-right: 0;
    }

    &--os {
      grid-column: 2/3;
      padding-left: 0;
    }
  }


  .form__user-item--contact {
    flex-direction: row;
    padding: 28px 62px 13px 62px;
    column-gap: 74px;
  }

  .form__user-item--comment {
    padding-bottom: 35px;
  }

  .form__user-item-input {
    width: 100%;
    row-gap: 10px;
  }

  .form__user-os-list {
    row-gap: 41px;
  }

  .form__user-progress-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__user-progress-item {
    &:nth-child(even) {
      order: 2;
    }

    &:nth-child(odd) {
      order: 1;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .form__user-comment-area {
    text-align: left;
    min-height: 130px;
    padding: 15px 21px;
  }

  .form__button-wrapper {
    padding-top: 12px;
    padding-bottom: 0;
  }

  .form__prompt .form__prompt-desktop {
    display: inline-block;
  }
}
