.page-footer {
  background-color: #ffffff;
  padding: 40px 0;
}

.page-footer__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.page__footer-logo {
  margin: 0 auto;
}

.social__list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 40px 0;
}

.social__link {
  display: block;
}


.footer__developed {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* Планшет */
@media (min-width: $tablet-width) {
  .page-footer {
    padding: 0;
  }

  .page-footer__wrapper {
    flex-direction: row;
    align-items: center;
  }


}
