.page-footer {
  background-color: #ffffff;
  padding: 40px 0;

  &__wrapper {
    text-align: center;
  }
}

.social {
  &__list {
    display: flex;
    gap: 10px;
    list-style-type: none;
  }

  &__item {
    border: 3px solid #283645;
    border-radius: 50%;
    padding: 15px;
  }
}
