.header-logo__image {
  position: relative;
  z-index: 2;

  &:hover {
    fill: $crimson;
  }

  &:active {
    fill: rgba(#ffffff, 0.3);
  }
}

.header-logo__image--tablet,
.header-logo__image--desktop {
  display: none;
}

/* Планшет */
@media (min-width: $tablet-width) {

  .header-logo__image--mobile {
    display: none;
  }

  .header-logo__image--tablet {
    display: block;
  }
}

/* Desktop */
@media (min-width: $desktop-width) {

  .header-logo__image--tablet {
    display: none;
  }

  .header-logo__image--desktop {
    display: block;
  }
}
