.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Сброс стилей списка */
.reset-style-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.center {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.br-mobile {
  display: block;
}

.br-tablet,
.br-desktop {
  display: none;
}

/* Планшет */
@media (min-width: $tablet-width) {
  .br-mobile {
    display: none;
  }

  .br-tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .center {
    padding: 0 130px;
  }

  .br-tablet {
    display: none;
  }

  .br-desktop {
    display: block;
  }
}
