
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  max-width: 1200px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  background-color: #e5e5e5;
  color: $darkblue;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
