.page-footer {
  background-color: #ffffff;
  padding: 40px 0 37px 0;
}

.page-footer__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
}

.page-footer__pink-logo {
  &:hover {
    fill: $crimson;
  }

  &:active {
    fill: $darkblue;
    opacity: 0.3;
  }

  &--visible-desktop {
    display: none;
  }
}

.page-footer__developed {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 5px;
}

.page-footer__text {
  word-break: break-all;
}

.page-footer__icon-htmlacademy {
  &:hover {
    fill: $darkblue;
  }

  &:active {
    fill: rgba($darkblue, 0.3);
  }
}

/* Планшет */
@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* Desktop */
@media (min-width: $desktop-width) {
  .page-footer {
    padding: 70px 0 87px;
  }

  .page-footer__pink-logo--visible-tablet {
    display: none;
  }

  .page-footer__pink-logo--visible-desktop {
    display: block;
  }
}
