.page-header {
  position: relative;
  background-color: rgb(0, 0, 0, 0.3);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 66px;
  }
}

.main-nav__wrapper {
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  background-color: #ffffff;
  // display: none;
}

/* Список меню */
.main-nav__list {
  text-align: center;
}

.site-list__item {
  background-color: $darkblue;
  padding: 25px 0;
  margin-top: 1px;
}

.site-list__item-link {
  font-family: "Open Sans";
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
