.page-header {
  position: relative;
  background-color: rgb(0, 0, 0, 0.3);
  margin-bottom: -66px;
  z-index: 1;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
}


/* Планшет */
@media (min-width: $tablet-width) {
  .page-header {
    margin-bottom: -110px;
  }

  .page-header__wrapper {
    min-height: 110px;
  }
}
